/* Styles for uppostcontainer */
.uppostcontainer {
    width: 85%;
    margin: auto;
    margin-top: 150px;
    /*margin-left: 100px;*/
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for titlediv */
.titlediv, .captiondiv {
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: "DM Sans", sans-serif;
}

/* Styles for caplabel */
.caplabel, .titlediv .caplabel {
    margin-bottom: 5px;
    font-weight: bold;
    color: #1a617c;
}

/* Styles for textarea */
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d7d1ba;
    border-radius: 15px;
    resize: none;
    font-size: 16px;
}

/* Styles for errormsg */
.errormsg {
    color: red;
    font-size: 14px;
}

/* Styles for usernamediv */
.usernamediv {
    margin-right: 10px;
    font-weight: bold;
}

select{
    width: 30%;
    height: 30px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #cccccc;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: normal;
    color: #666666;
}
select:focus{
    border: 2px solid #426054;
}

.errormsg{
    margin:20px auto;
    width: 40%;
    color: #EB9494;
    text-align: center;
}
.postsubmitdiv{
    margin-top: 40px;
    width: 100%;
    float: left;
}
#uploadpost{
    width: 15%;
    /*background-color: #e1a271;*/
    background-color: #57acab;
    font-size: 1.3rem;
    padding: 0.8rem 0.5rem;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    transition: background-color .4s;
}
#uploadpost:hover{
    background-color: #426054
}

