/* Styles for feedcontainer */
.feedcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    float: right;
}

/* Styles for tagdiv */
.tagdiv {
    margin: 1% 5%;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.tagdiv a {
    color: #666666;
    text-decoration: none;
    transition: color 0.4s;
}

.tagdiv a:hover {
    color: #57acab;
    text-decoration: none;
}

.fa-solid {
    margin-right: 3%;
}

/* Styles for descdiv */
.descdiv {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

/* Styles for tagcontainer */
.tagcontainer {
    width: 100%;
    display: block;
    overflow: auto;
    margin-top: 150px;
}

/* Styles for taglistdiv */
.taglistdiv {
    width: 20%;
    float: left;
    position: fixed;
    display: flex;
    flex-flow: column;
}

/* Styles for questiontagdiv */
.questiontagdiv {
    width: 80%;
    float: right;
    margin-top: 1%;
}

/* Styles for tagname */
#tagname {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0 0 10%;
    color: #426054;
}

/* Styles for taglist */
#taglist {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 20px 0 0 10%;
}

#taglist a {
    color: #666666;
    text-decoration: none;
}

#taglist a:hover {
    color: #52B2CF;
    text-decoration: none;
}

/* Styles for questionboxdiv */
.questionboxdiv {
    width: 80%;
    float: left;
    border: 2px solid #426054;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(22, 6, 69, 0.258);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1000px;
    box-sizing: border-box;
}

/* Styles for titlediv */
.titlediv {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.titlediv a {
    color: #124850;
    text-decoration: none;
    transition: color 0.4s;
}

.titlediv a:hover {
    color: #57acab;
    text-decoration: none;
}

/* Styles for descdiv */
.descdiv {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}