/* Styles for editprofcontainer */
.editprofcontainer {
    margin-top: 180px;
    width: 100%;
    display: block;
}

/* Styles for texteditdiv */
.texteditdiv {
    width: 50%;
    float: left;
    display: block;
    overflow: auto;
    padding-top: 20px;
}

/* Styles for piceditdiv */
.piceditdiv {
    width: 50%;
    float: right;
    display: block;
    overflow: auto;
    position: relative;
}

/* Styles for editprofdiv */
.editprofdiv {
    width: 100%;
    float: left;
}

/* Styles for editprofile button */
#editprofile {
    cursor: pointer;
    height: 50px;
    text-align: center;
    background-color: #426054;
    width: 22%;
    margin: 10px 0 0 17%;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-radius: 20px;
    transform: background-color 4s;
}

#editprofile:hover {
    background-color: #5e4337;
}

/* Styles for profimagediv */
.profimagediv {
    width: 100%;
}

/* Styles for profpicid */
#profpicid {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    display: block;
}

/* Styles for input[type=file] */
input[type=file] {
    margin: 20px 0 0 25%;
    width: 50%;
    height: 50px;
    opacity: 0%;
    cursor: pointer;
    position: absolute;
}

/* Styles for dummy */
.dummy {
    width: 50%;
    margin: 20px 0 0 25%;
    background-color: #1a617c;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    padding-top: 8px;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
}

/* Styles for errormsg */
.errormsg {
    color: #a44122;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

/* Styles for namechangediv, emailchangediv, biochangediv */
.namechangediv,
.emailchangediv,
.biochangediv {
    width: 100%;
    margin-bottom: 20px;
    display: block;
    overflow: auto;
}

/* Styles for labeldiv */
.labeldiv {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    color: #57acab;
    width: 18%;
    margin-left: 20%;
    float: left;
}

/* Styles for inputdiv */
.inputdiv {
    font-size: 16px;
    color: #666666;
    width: 62%;
    float: right;
}

/* Styles for inputedit */
.inputedit {
    width: 90%;
    height: 30px;
    outline: none;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    border-bottom: 2px solid #d7d1ba;
    color: #666666;
}

.inputedit:focus {
    border-bottom: 2px solid #1a617c;
}

/* Styles for textarea */
textarea {
    width: 80%;
    height: 100px;
    padding: 12px 20px;
    border: 2px solid #d7d1ba;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    color: #666666;
    resize: none;
    outline: none;
    font-family: "DM Sans", sans-serif;
}

textarea:focus {
    border: 2px solid #1a617c;
}

/* Styles for changepwdiv */
.changepwdiv {
    padding-top: 10px;
    margin-left: 20%;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: normal;
    color: #666666;
}

/* Styles for changepwdiv links */
.changepwdiv a {
    color: #1a617c;
}

.changepwdiv a:hover {
    color: #a44122;
}