/* Styles for feedcontainer */
.postcontainer {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    /*width: 100%;*/
    display: block;
    overflow: auto;
}
.feedcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px  rgba(152, 162, 203, 0.25) ;
    width: 95%;
    float: right;
}

 /*Styles for postdiv */
.postdiv {
    /*border: 1px solid #164795;*/
    border-radius: 30px;
    background-color: #ffffff;
    /*box-shadow: 0 2px 4px rgba(22, 6, 69, 0.258);*/
    padding: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    /*width: 95%;*/
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgb(130, 172, 198);
    width: 72%;
    margin-left: 300px;
    float: right;
}
/*.postdiv {*/
/*    border: 1px solid #164795;*/
/*    border-radius: 30px;*/
/*    background-color: #ffffff;*/
/*    padding: 20px;*/
/*    margin-bottom: 20px;*/
/*    box-sizing: border-box;*/
/*    box-shadow: 0px 0px 10px 0px rgba(152, 162, 203, 0.25);*/
/*}*/

/*!* Add a container to hold the .postdiv *!*/
/*.post-container {*/
/*    display: flex;*/
/*    justify-content: flex-end; !* Align .postdiv to the right *!*/
/*    max-width: 100%; !* Allow .postdiv to take full width *!*/
/*    margin: 0 auto; !* Center .post-container horizontally *!*/
/*}*/

/*!* Adjust .postdiv width to make it responsive *!*/
/*.postdiv {*/
/*    width: 70%; !* Adjust width as needed *!*/
/*}*/


.locationdiv a{
    color: #666666;
    text-decoration: none;
    transition: color .4s;
}
.locationdiv a:hover{
    color: #52B2CF;
    text-decoration: none;
}
.locationcontainer{
    width: 100%;
    display: block;
    overflow: auto;
}
.locationlistdiv{
    margin-top: 150px;
    margin-left: 20px;
    width: 18%;
    height: 84%;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    background: #ffffff;
    /*border: 2px solid #164795;*/
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgb(130, 172, 198);
    border-radius: 10px;
}

/* Style for scrollbar */
.locationlistdiv::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.locationlistdiv::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.locationlistdiv::-webkit-scrollbar-thumb {
    background: #3780ae;
    border-radius: 5px;
}

/* Handle on hover */
.locationlistdiv::-webkit-scrollbar-thumb:hover {
    background: #0f3859;
}

.usernamediv a{
    color: #000000;
    text-decoration: none;
    transition: color .4s;
}
.usernamediv a:hover{
    color: #2cba91;
    text-decoration: none;
}

.commentsdiv a{
    color: #9A618E;
    text-decoration: none;
}

/* Styles for userlikediv */
.userlikediv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styles for usernamediv */
.usernamediv {
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #333;
}

.titlediv {
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #680a0a;
    font-size: 25px;
}

.titlediv a{
    color: #000000;
    text-decoration: none;
    transition: color .4s;
}
.titlediv a:hover{
    color: #2cba91;
    text-decoration: none;
}


/* Styles for likediv */
.likediv {
    cursor: pointer;
    color: #666;
    transition: color 0.3s ease;
}

.likediv:hover {
    color: #FC6464;
}

.likediv i {
    font-size: 30px;
}

/* Styles for captiondiv */
.captiondiv {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles for locationdiv */
.locationdiv {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Styles for locationtag */
.locationtag {
    display: inline-block;
    background-color: #81d1c5;
    border-radius: 15px;
    padding: 1px 10px 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles for commentsdiv */
.commentsdiv {
    margin-top: 20px;
}

/* Styles for commuserlink */
.commuserlink {
    font-weight: bold;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 3%;
}
#locationname{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0 0 10%;
    color: #52B2CF;
}
#locationlist{
    font-size: 16px;
    letter-spacing: 1px;
    /*margin: 10px 0 0 10%;*/
    text-align: center;
}
#locationlist a{
    color: #666666;
    text-decoration: none;
}
#locationlist a:hover{
    color: #52B2CF;
    text-decoration: none;
}

/* Add more styles as needed */
