/* Styles for questioncontainer */
.questioncontainer {
    flex-direction: column;
    align-items: center;
    display: block;
    margin-top: 150px;
}

/* Styles for feedcontainer */
.feedcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    float: right;
}

/* Styles for questiondiv */
.questiondiv {
    border-radius: 30px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgb(215, 209, 186);
    width: 72%;
    margin-left: 300px;
    float: right;
}

/* Styles for tagdiv */
.tagdiv a {
    color: #124850;
    text-decoration: none;
    transition: color .4s;
}

.tagdiv a:hover {
    color: #072127;
    text-decoration: none;
}

/* Styles for tagcontainer */
.tagcontainer {
    width: 100%;
    display: block;
    overflow: auto;
}

/* Styles for taglistdiv */
.taglistdiv {
    margin-top: 150px;
    width: 25%;
    height: 84%;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgb(215, 209, 186);
    border-radius: 10px;
    font-weight: bold;
}

/* Style for scrollbar */
.taglistdiv::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.taglistdiv::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.taglistdiv::-webkit-scrollbar-thumb {
    background: #e1ddca;
    border-radius: 5px;
}

/* Styles for usernamediv */
.usernamediv a {
    color: #a44122;
    text-decoration: none;
    transition: color .4s;
}

.usernamediv a:hover {
    color: #124850;
    text-decoration: none;
}

/* Styles for uservotediv */
.uservotediv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styles for usernamediv */
.usernamediv {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* Styles for titlediv */
.titlediv {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #680a0a;
    font-size: 25px;
}

.titlediv a {
    color: #124850;
    text-decoration: none;
    transition: color .4s;
}

.titlediv a:hover {
    color: #57acab;
    text-decoration: none;
}

/* Styles for votediv */
.votediv i {
    font-size: 30px;
}

/* Styles for descdiv */
.descdiv {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: #1a617c;
}

/* Styles for tagdiv */
.tagdiv {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Styles for tagbox */
.tagbox {
    display: inline-block;
    background-color: #c0e6e5;
    border-radius: 15px;
    padding: 1px 10px 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* Styles for cattag */
.cattag {
    display: inline-block;
    width: 70%;
    background-color: #d7d1ba;
    border-radius: 15px;
    padding: 10px 10px 10px;
    margin-left: 13%;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
}

/* Styles for tagname */
#tagname {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0 0 10%;
    color: #57acab;
}

/* Styles for taglist */
#taglist {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
}

#taglist a {
    color: #666666;
    text-decoration: none;
}

#taglist a:hover {
    color: #57acab;
    text-decoration: none;
}
