body {
	background-color: #ffffff;
}
.profilecontainer{
    width: 100%;
    display: block;
    overflow: auto;
}
.profiledeetdiv{
    width: 34%;
    max-width: 34%;
    float: left;
    margin-left: 5%;
    margin-top: 150px;
    padding: 2%;
    position: fixed;
    /*box-shadow: 0px 0px 10px 0px  rgba(152, 162, 203, 0.25) ;*/
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 73%;
}
.postsdiv{
    width: 56%;
    float: right;
    max-width: 60%;
    display: block;
    overflow: auto;
    margin-left: 4%;
    margin-top: 150px;
}
.postimagediv{
    width: 70%;
    aspect-ratio : 1 / 0.2;
    float: left;
    border: 1px solid #426054;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(94, 67, 55);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1000px;
    box-sizing: border-box;
}
/*.postimage{*/
/*    width: 96%;*/
/*    aspect-ratio : 1 / 1;*/
/*    border-radius: 10px;*/
/*    object-fit: cover;*/
/*    transition: transform .4s;*/
/*}*/
/*.postimage:hover{*/
/*	transform: scale(1.05);*/
/*  }*/
/*  .topdiv{*/
/*    width: 100%;*/
/*  }*/
.profpicdiv{
    width: 62%;
    height: 250px;
    float: left;
    margin-left: 15%;
    align-items: center;
}
.profileimage{
    width: 96%;
    aspect-ratio : 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}
/*.followdiv{*/
/*    float: left;*/
/*    height: 250px;*/
/*    width: 38%;*/
/*    text-align: center;*/
/*}*/
/*.flabel{*/
/*    margin-top: 50px;*/
/*    font-weight: 600;*/
/*    font-size: 18px;*/
/*    letter-spacing: 1px;*/
/*    color: #666666;*/
/*}*/
/*.fcount{*/
/*    font-weight: 600;*/
/*    font-size: 28px;*/
/*    letter-spacing: 1px;*/
/*    color: #90CDD6;*/
/*}*/
.usernamediv{
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;
    color: #1a617c;
    margin-top: 20px;
}
.captiondiv {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titlediv {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.titlediv a{
    color: #426054;
    text-decoration: none;
    transition: color .4s;
}
.titlediv a:hover{
    color: #57acab;
    text-decoration: none;
}
.namediv{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #666666;
}
.biodiv{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    color: #666666;
    margin: 5px 0 40px 0;
}
.profbottomdiv{
    width: 100%;
}
a{
    text-decoration: none;
}
/*#followbutton{*/
/*    padding: 10px;*/
/*    background-color: #90CDD6;*/
/*    width: 40%;*/
/*    letter-spacing: 1px;*/
/*    margin: auto;*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    text-align: center;*/
/*    color: #ffffff;*/
/*    border-radius: 20px;*/
/*    transition: transform .4s;*/
/*}*/
/*#followbutton:hover{*/
/*    transform: scale(1.05);*/
/*}*/
.logoutlink, .editprlink{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: underline;
}

.editprlink{
    color: #57acab;
}
.logoutlink{
    color: #a44122;
    margin-left: 80px;
}
.locationdiv a{
    color: #124850;
    text-decoration: none;
    transition: color .4s;
}
.locationdiv a:hover{
    color: #072127;
    text-decoration: none;
}
/* Styles for locationdiv */
.locationdiv {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Styles for locationtag */
.locationtag {
    display: inline-block;
    background-color: #87d3d2;
    border-radius: 15px;
    padding: 1px 10px 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}
