/* Styles for body */
body {
    background-color: #ffffff;
}

/* Styles for profilecontainer */
.profilecontainer {
    width: 100%;
    display: block;
    overflow: auto;
}

/* Styles for profiledeetdiv */
.profiledeetdiv {
    width: 34%;
    max-width: 34%;
    float: left;
    margin-left: 5%;
    margin-top: 150px;
    padding: 2%;
    position: fixed;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 73%;
}

/* Styles for questionsdiv */
.questionsdiv {
    width: 56%;
    float: right;
    max-width: 60%;
    display: block;
    overflow: auto;
    margin-left: 4%;
    margin-top: 150px;
}

/* Styles for questionboxdiv */
.questionboxdiv {
    width: 70%;
    aspect-ratio: 1 / 0.2;
    float: left;
    border: 1px solid #426054;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(94, 67, 55);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1000px;
    box-sizing: border-box;
}

/* Styles for profpicdiv */
.profpicdiv {
    width: 62%;
    height: 250px;
    float: left;
    margin-left: 15%;
    align-items: center;
}

/* Styles for profileimage */
.profileimage {
    width: 96%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

/* Styles for usernamediv */
.usernamediv {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;
    color: #1a617c;
    margin-top: 20px;
}

/* Styles for descdiv */
.descdiv {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles for titlediv */
.titlediv {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

/* Styles for titlediv a */
.titlediv a {
    color: #426054;
    text-decoration: none;
    transition: color .4s;
}

/* Styles for titlediv a:hover */
.titlediv a:hover {
    color: #57acab;
    text-decoration: none;
}

/* Styles for namediv */
.namediv {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #666666;
}

/* Styles for biodiv */
.biodiv {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    color: #666666;
    margin: 5px 0 40px 0;
}

/* Styles for a */
a {
    text-decoration: none;
}

/* Styles for logoutlink and editprlink */
.logoutlink,
.editprlink {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: underline;
}

/* Styles for editprlink */
.editprlink {
    color: #57acab;
}

/* Styles for logoutlink */
.logoutlink {
    color: #a44122;
    margin-left: 80px;
}

/* Styles for tagdiv a */
.tagdiv a {
    color: #124850;
    text-decoration: none;
    transition: color .4s;
}

/* Styles for tagdiv a:hover */
.tagdiv a:hover {
    color: #072127;
    text-decoration: none;
}

/* Styles for tagdiv */
.tagdiv {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Styles for tagbox */
.tagbox {
    display: inline-block;
    background-color: #87d3d2;
    border-radius: 15px;
    padding: 1px 10px 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}
