/* Styles for questioncontainer */
.questioncontainer {
    width: 100%;
    display: block;
    overflow: auto;
}

/* Styles for centerdiv */
.centerdiv {
    margin-top: 150px;
    margin-left: 70px;
    width: 110%;
    max-width: 100%;
    float: none;
    position: fixed;
}

/* Styles for tagvotediv */
.tagvotediv {
    margin: auto;
    display: block;
    overflow: auto;
    width: 100%;
}

/* Styles for tagdiv */
.tagdiv {
    width: 100%;
    float: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 4px;
}

/* Styles for tagbox */
.tagbox {
    display: inline-block;
    background-color: #57acab;
    border-radius: 15px;
    padding: 1px 10px 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles for votediv */
.votediv {
    width: fit-content;
    float: left;
    font-size: 30px;
}

/* Styles for votecount */
.votecount {
    width: 20%;
    float: left;
    font-size: 17px;
    font-weight: 550;
    margin: 8px 0 0 10px;
    color: #5e4337;
}

/* Styles for tagdiv a */
.tagdiv a {
    color: #124850;
    text-decoration: none;
    transition: color .4s;
}

/* Styles for tagdiv a:hover */
.tagdiv a:hover {
    color: #5e4337;
    text-decoration: none;
}

/* Styles for fa-thumbs-up */
.fa-thumbs-up {
    padding: 0;
    cursor: pointer;
    transition: transform .4s;
}

/* Styles for fa-thumbs-up:hover */
.fa-thumbs-up:hover {
    transform: scale(1.03);
    color: #5e4337;
}

/* Styles for usernameimgdiv */
.usernameimgdiv {
    width: 100%;
    display: block;
    overflow: auto;
}

/* Styles for userimagediv */
.userimagediv {
    width: 12%;
    aspect-ratio: 1 / 1;
    float: left;
}

/* Styles for userimage */
.userimage {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

/* Styles for usernamediv */
.usernamediv {
    width: 50%;
    float: left;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 1%;
}

/* Styles for usernamediv a */
.usernamediv a {
    color: #a44122;
    text-decoration: none;
    transition: color .4s;
    font-weight: bold;
}

/* Styles for usernamediv a:hover */
.usernamediv a:hover {
    color: #124850;
    text-decoration: none;
}

/* Styles for titlediv */
.titlediv {
    width: 90%;
    font-size: 35px;
    color: #124850;
}

/* Styles for descdiv */
.descdiv {
    width: 90%;
    font-size: 25px;
    color: #666666;
}

/* Styles for answerareadiv */
.answerareadiv {
    margin: 15px 0;
    width: 95%;
    display: block;
    overflow: auto;
}

/* Styles for answersdiv */
.answersdiv {
    width: 90%;
    font-size: 16px;
    color: #666666;
}

/* Styles for answersdiv a */
.answersdiv a {
    color: #426054;
    text-decoration: none;
    padding-right: 2%;
    padding-left: 10px;
    font-weight: bold;
}

/* Styles for answersdiv a:hover */
.answersdiv a:hover {
    color: #a44122;
}

/* Styles for answer */
.answer {
    padding: 15px 0 12px 0;
    /*border: 2px solid #52B2CF;*/
    box-shadow: 2px 0 2px 1px rgb(26, 97, 124);
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Styles for textarea */
textarea {
    width: 60%;
    height: 50px;
    padding: 8px;
    border: 2px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    color: #666666;
    resize: none;
    float: left;
    outline: none;
    font-family: "DM Sans", sans-serif;
}

/* Styles for textarea:focus */
textarea:focus {
    border: 2px solid #0f3859;
}

/* Styles for button */
button {
    height: 40px;
    float: left;
    width: 12%;
    border-radius: 30px;
    margin-left: 2%;
    margin-top: 15px;
    border: none;
    font-size: 16px;
    transition: background-color .4s;
    cursor: pointer;
}

/* Styles for button:disabled */
button:disabled {
    background-color: #cccccc;
    color: #7C7D7C;
}

/* Styles for button:enabled */
button:enabled {
    background-color: #1a617c;
    color: white;
}
